/cmake-build-debug/
/cmake-build-release/
/.idea/
/.vscode/
/build/
/build-release/
/buildR/
/output/
/glTF-Sample-Models-master/
/thirdparty/build*/
/venv/
/test/framework/t1.json
/assets/shaders/output/
/build_release/
/active_project
/test/assets/assets.db
/test/products/
/python/.idea
/review/
/agent/backup
# third-party build outputs and generated CMake cache
/build_3rd/
# generated PDF documentation
/docs/pdf/
.DS_Store
