/cmake-build-debug/
/cmake-build-release/
/.idea/
/.vscode/
/build/
/build-release/
/buildR/
/output/
/glTF-Sample-Models-master/
/thirdparty/build*/
/venv/
/test/framework/t1.json
/assets/shaders/output/
/build_release/
/active_project
/test/assets/assets.db
/test/products/
_codeql_detected_source_root
